{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <!-- Title and description -->
  <div id="hero">
    <h1>{{.Site.Title}}</h1>
    <p>{{.Description}}</p>
  </div>

  <!-- Button to GitHub -->
  <div id="action-buttons">
    <a class="button outline big" href="https://github.com/softwareunderground">View on Github</a>
    <p>Includes all the source and site example files</p>
  </div>

  <!-- Alert -->
  <div class="alert is-focus" data-kube="alert">
    You have 2 modules waiting for installation.
    <span class="close is-small" data-type="close"></span>
  </div>

  <!-- Title and description -->
  <div id="kube-features">

    <!-- Row -->
    <div class="is-row is-inset-32">

      <div class="is-col">
        <figure>
          <img alt="Baseline" height="48" src="{{ "/img/kube/icon-baseline.png" | relURL }}" width="48">
        </figure>
        <h3>Horizontal Rhythm</h3>
        <p>In Kube horizontal rhythm based on a 4px vertical grid is something that we are truly proud of.</p>
      </div>

      <div class="is-col">
        <figure>
          <img alt="Typography" height="48" src="{{ "/img/kube/icon-typo.png" | relURL }}" width="48">
        </figure>
        <h3>Typography</h3>
        <p>We obsess over typography, and it shows throughout Kube.</p>
      </div>

      <div class="is-col">
        <figure>
          <img alt="Minimalism" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
        </figure>
        <h3>Minimalism</h3>
        <p>We strongly believe in minimalism as a general concept as well as a practical approach to everyday life.</p>
      </div>
    </div>

    <!-- Row -->
    <div class="is-row is-inset-32">
      <div class="is-col">
        <h3>Mobile-first Design</h3>
        <p>Every element in kube is mobile-first and fully embraces latest and greatest tech.</p>
      </div>
      <div class="is-col">
        <h3>Cross-browser</h3>
        <p>Kube works in all modern browsers, both desktop and mobile, including latest Chrome, Firefox, Safari, Opera, IE and Edge.</p>
      </div>
      <div class="is-col">
        <h3>License</h3>
        <p>Kube licensed under <a href="https://opensource.org/licenses/MIT">MIT</a>.<br>
      Kube Framework is absolutely free for personal or commercial use.</p>
    </div>

  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
